/Library/metadata/ed/edb5829ae08c8c742be5ef216b624ef2
/Library/metadata/ed/edb5829ae08c8c742be5ef216b624ef2.info
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Library/EditorInstance.json
/Temp/ProcessJobs/2992039c52923dad903a8c0db934f209.bakert
/Temp/ProcessJobs/45b2d24db5322d79cda5d8b11efaf2e8.bakert
/Temp/UnityLockfile
